GITHUB_CLIENT_ID=d2f5172d8965e5559305
GITHUB_CLIENT_SECRET=fe13cdcaa89410fb323b268b4e43133f140d82d4
NEXTAUTH_URL=http://localhost:3000/
NEXT_PUBLIC_GITHUB_REDIRECT_URI=http://localhost:3000/
NEXT_PUBLIC_REPOSITORY_OWNER=facebook
NEXT_PUBLIC_REPOSITORY_NAME=react
NEXT_PUBLIC_GITHUB_GRAPHQL_URL=https://api.github.com/graphql

NEXT_PUBLIC_GITHUB_TOKEN=YOUR_TOKEN_HERE